* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: black;
}

.container,
.aftersubmit {
    position: relative;
    width: 400px;
    height: 400px;
    background: linear-gradient(to top, hsla(213, 19%, 18%, 0.4), hsla(213, 19%, 18%, 0.9));
    ;
    border-radius: 20px;

}

.aftersubmit {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px;
}




.smallcircle {
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: hsla(213, 19%, 18%, 0.95);
    border-radius: 50%;
}

.how {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.9);
    margin: 110px 30px;
}

.longp {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin: -90px 30px;

}

.buttonrow {
    position: relative;
    top: 120px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mybut {
    cursor: pointer;
    background: hsla(213, 19%, 18%, 0.95);
    border-radius: 50%;
    border: 0px;
    color: rgba(255, 255, 255, 0.5);
    width: 50px;
    height: 50px;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
}

.submitrow {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
}

.submitbut {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 13px;
    background: hsl(25, 97%, 53%);
    border-radius: 20px;
    border: 1px solid hsl(25, 97%, 53%);
    width: 80%;
    height: 40px;
}

.mybut:hover {
    background: rgba(255, 255, 255, 0.5);
}

.submitbut:hover {
    background: white;
    color: hsl(25, 97%, 53%);
}

.thanksicon {
    width: 162px;
    height: 108px;
    margin: 50px 0px;
}

.resultrow {
    margin: -20px 0px 0px 0px;
    width: 190px;
    height: 30px;
    background: rgba(255, 255, 255, 0.1);
    color: hsl(25, 97%, 53%);
    border-radius: 15px;
    text-align: center;

}

.thankyou {
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.9);
    margin: 30px 0px 0px 0px;

}

.longp2 {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    margin: 12px 0px;
    text-align: center;
}

.selected {
    background: hsl(25, 97%, 53%) !important;
}

.resulttext {
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 7px 0px;
}